.main-content {
  flex: 1;
  padding: 2rem;
  padding-top: calc(2rem + 72px);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: calc(2rem + 56px);
  }
}